In [2]:
#Data input & output
"""conda install sqlalchemy
conda install lxml
conda install html5lib
conda install BeautifulSoup4 """

'conda install sqlalchemy\nconda install lxml\nconda install html5lib\nconda install BeautifulSoup4 '

In [5]:
pwd

'C:\\Users\\winuser'

In [72]:
import pandas as pd
import numpy as np
colnames = ['v1','v2','v3','v4','v5','v6','v7','v8']
data = pd.read_csv("C:/Users/winuser/Downloads/IRIS.csv",names=colnames)

data.to_csv('mydata.csv',index = False)
df = pd.read_csv('mydata.csv')
#df

In [178]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')
df.to_sql('df',engine)
sqldata = pd.read_sql('df',engine)
#sqldata

C:\Users\winuser\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

0

In [167]:


def conv(val):
    if not val:
        return 0    
    try:
        return np.float64(val)
    except:        
        return np.float64(0)
    
    
salary_data = pd.read_csv('Salaries.csv',low_memory=False,converters={'BasePay':conv,'OvertimePay':conv})
#salary_data.head(2)
#type(salary_data)
np.dtype(salary_data['BasePay'])

salary_data['BasePay'].isnull()

0

In [77]:
salary_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148049 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            112495 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [157]:
# what is average Basepay?
salary_data['BasePay'].mean()

66053.72928809702

In [158]:
# what is highest amount of overtimepay in dataset?
salary_data['OvertimePay'].max()

245131.88

In [109]:
#what is job title of 'JOSEPH DRISCOLL'
salary_data[salary_data['EmployeeName'] == 'JOSEPH DRISCOLL']

#how much JOSEPH DRISCOLL make including benefits
salary_data[salary_data['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [122]:
#what is name of highest paid person inlcuding benefits?
salary_data[salary_data['TotalPayBenefits']==salary_data['TotalPayBenefits'].max()]
salary_data.loc[salary_data['TotalPayBenefits'].idxmax()]


#what is name of Lowest paid person inlcuding benefits?
salary_data[salary_data['TotalPayBenefits']==salary_data['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [130]:
# what was the average basepay of employees per years
salary_data.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    68509.832156
2014    66557.437750
Name: BasePay, dtype: float64

In [133]:
# how many unique job title are there
len(salary_data['JobTitle'].unique())

2159

In [143]:
# what are top 5 common jobs
salary_data['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [148]:
# how many job titles were represented by only one person in 2013
sum(salary_data[salary_data['Year']==2013]['JobTitle'].value_counts()==1)

202

In [159]:
#how many people have word chief in their job title?
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False
    
sum(salary_data['JobTitle'].apply(lambda x: chief_string(x)))

477

In [180]:
# is there any correlation between length of job title string and salary
salary_data['job_length']=salary_data['JobTitle'].apply(len)

salary_data[['TotalPayBenefits','job_length']].corr()

                  TotalPayBenefits  job_length
TotalPayBenefits          1.000000   -0.036878
job_length               -0.036878    1.000000